* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: fantasy;
    background-color: #e98be986;
}

.container {
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    padding: 10px 0;  
    background-color: white;
    border: 2px solid black;
    border-radius: 16px;
    transition: heigth 1s;
}

.title {
    font-size: 40px;
    margin: 12px auto;
}

#input {
    font-size: 20px;
    outline: none;
    width: 300px;
    margin: 10px auto;
    padding: 6px 8px;
    border: 1px ridge #cecece;
    border-radius: 8px;
}

#btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 14px;
    outline: none;
    width: 300px;
    margin: 0px auto 20px;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background-color: #cbeb40b2;
    transition: background-color .3s;
}

#btn:hover {
    cursor: pointer;
    background-color: #f765f786;
}

.result {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #cecece;
    color: black;

}